header * {
    border-radius: 0;
}
header {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #000;
}
header nav {
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header .nav-link {
    margin: 0 0.5rem;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000C;
}
header .nav-link:hover {
    scale: 1.1;
    background-color: #0002;
}
header .nav-link:active {
    scale: 0.5;
    background-color: #0002;
}
header .nav-link.active {
    scale: 1.075;
    font-weight: bold;
}
