.aside {
    position: relative;
}
.aside .features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
.aside .features li {
    width: max-content;
}
@media screen and (max-width: 850px)  {
    .aside .features {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.sys-links {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.35rem 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    list-style: none;
}
@media screen and (max-width: 850px)  {
    .sys-links {
        position: relative;
    }
}
.sys-links li {
    display: inline-flex;
}
.global-links {
    text-decoration: underline;
    padding: 0.25rem;
    margin: 0.1rem;
}